body {
    background-color: black;
}

#container {
    display: flex;
    justify-content: center;
    column-gap: 5vw;
}

/* ------------------------------ TETROMINOES ------------------------------*/

.tetromino {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 150px;
    line-height: 0;
}

.emptyTile {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}

.tile {
    margin: 0;
    padding: 0;
}

/* ------------------------------ START SCREEN ------------------------------*/

#startBox {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 3px solid #C0C0C0;
    background-color: black;
    border-radius: 5px;
    font-family: "Aldrich", sans-serif;
    color: #C0C0C0;
    z-index: 10;
    left: 50%;
    top: 60px;
    margin-left: -250px;
    height: 445px;
    width: 500px;
    align-items: center;
}

#gameTitle {
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: -5px;
    margin-top: 25px;
}

/*------- START SCREEN: CONTROLS OVERVIEW -------*/

.controlsTitle {
    margin-top: 25px;
    align-self: start;
    margin-left: 20px;
}

#controlsWrapper {
    margin-top: -16px;
    display: grid;
    text-align: center;
    row-gap: 5px;
    column-gap: 5px;
    font-size: 16px;
}

#controlsRotate {
    grid-row: 1;
    grid-column: 2;
}

#controlsMoveLeft {
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    margin-bottom: 2px;
    margin-right: 3px;
}

#controlsKeyImg {
    grid-row: 2;
    grid-column: 2;
}

#controlsMoveRight {
    grid-row: 2;
    grid-column: 3;
    align-self: end;
    margin-bottom: 2px;
    margin-left: 3px;
}

#controlsFastDrop {
    margin-top: 3px;
    grid-row: 3;
    grid-column: 2;
}

/*------- START SCREEN: RULES TEXT -------*/

#newTwistText {
    margin-left: 135px;
    margin-right: 30px;
    margin-top: -16px;
}

/*------- START SCREEN: START BUTTON -------*/

#startButton {
    border-top: 3px inset rgba(255,255,255,.5);
    border-left: 3px inset rgba(255,255,255,.5);
	border-right: 3px inset rgba(0,0,0,.5);
    border-bottom: 3px inset rgba(0,0,0,.5);
	cursor: pointer;
	width: 110px;
    padding: 0;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: hsl(145, 68%, 37%);

    &:focus,
	&:hover {
		background: hsl(145, 91%, 42%);
	}
}

#startButtonText {
    font-size: 20px;
}

#startButtonTextShortcut {
    font-size: 14px;
}

#startScreenOverlay {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

/* -------------------------------- GAMEBOX --------------------------------*/

#gamebox {
    position: relative;
    background-color: black;
    border: 3px solid #C0C0C0;
    margin-top: 5vh;
    height: 600px;
    width: 300px;
    min-width: 300px;
}

/*------- GAMEBOX: MESSAGE BOX -------*/

#gameMessageBox {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 10;
    border: 3px solid #C0C0C0;
    border-radius: 5px;
    left: 57px;
    top: 200px;
    height: 60px;
    width: 180px;
    justify-content: center;
    align-items: center;
}

#gameMessage {
    font-family: "Aldrich", sans-serif;
    color: #C0C0C0;
    font-size: 25px;
    margin-bottom: -5px;
}

/* ------------------------------ STATUS BOARD ------------------------------*/

#board {
    border: 3px solid #C0C0C0;
    border-radius: 5px;
    margin-top: 10vh;
    height: 210px;
    width: 250px;
    min-width: 250px;
}

#boardInfoWrapper {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 30px;
    font-family: "Aldrich", sans-serif;
    color: #C0C0C0;
    font-size: 25px;
}

#boardInfoLeftColumn {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#boardInfoRightColumn {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#livesWrapper {
    height: 20px;
    margin-top: -1px;
}

/*------- STATUS BOARD: PAUSE/RESTART BUTTONS -------*/

#boardButtonsWrapper {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    margin-top: 20px;
}

#boardButtonsWrapper button {
    border-top: 3px inset rgba(255,255,255,.5);
    border-left: 3px inset rgba(255,255,255,.5);
	border-right: 3px inset rgba(0,0,0,.5);
    border-bottom: 3px inset rgba(0,0,0,.5);
	cursor: pointer;
	width: 92px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.pauseButtonRed {
    background: hsl(177, 60%, 38%);

    &:focus,
	&:hover {
		background: hsl(177, 83%, 43%);
	}
}

.pauseButtonGreen {
    background: hsl(145, 68%, 37%);

    &:focus,
	&:hover {
		background: hsl(145, 91%, 42%);
	}
}

#restartButton {
    background: hsl(359, 70%, 38%);

    &:focus,
	&:hover {
		background: hsl(359, 93%, 43%);
	}
}

.buttonTextWrapper {
    padding: 4px;
    padding-top: 5px;
    font-family: "Aldrich", sans-serif;
	color: white;
}

.buttonText {
    font-size: 15px;
}

.buttonTextShortcut {
    font-size: 10px;
}