body {
    background-color: black;
}

#container {
    display: flex;
    justify-content: center;
    column-gap: 5vw;
}

#fpsWrapper {
    position: absolute;
    color: white;
    font-size: 30px;
}

/* ------------------------------ TETROMINOES ------------------------------*/

.tetromino {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 150px;
    line-height: 0;
}

.emptyTile {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}

.tile {
    position: relative;
    margin: 0;
    padding: 0;
}

.tileFall {
    transition: transform 0.2s;
}

@keyframes brightenMiddle {
    0% {}
    70% {fill: #f2f2f2;}
    100% {opacity: 0;}
}

.tileMiddleBrighten {
    animation: brightenMiddle 0.5s forwards;
}

@keyframes brightenLeft {
    0% {}
    70% {fill: #ffffff;}
    100% {opacity: 0;}
}

.tileLeftBrighten {
    animation: brightenLeft 0.5s forwards;
}

@keyframes brightenRight {
    0% {}
    70% {fill: #d1d1d1;}
    100% {opacity: 0;}
}

.tileRightBrighten {
    animation: brightenRight 0.5s forwards;
}

@keyframes brightenCorners {
    0% {}
    70% {fill: #c9c9c9;}
    100% {opacity: 0;}
}

.tileCornersBrighten {
    animation: brightenCorners 0.5s forwards;
}

/* ------------------------------ START SCREEN ------------------------------*/

#startBox {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 3px solid #C0C0C0;
    background-color: black;
    border-radius: 5px;
    font-family: "Aldrich", sans-serif;
    color: #C0C0C0;
    z-index: 10;
    left: 50%;
    top: 60px;
    margin-left: -250px;
    height: 445px;
    width: 500px;
    align-items: center;
}

#startScreenOverlay {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

#gameTitle {
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: -5px;
    margin-top: 25px;
}

/*------- START SCREEN: CONTROLS OVERVIEW -------*/

.controlsTitle {
    margin-top: 25px;
    align-self: start;
    margin-left: 20px;
}

#controlsWrapper {
    margin-top: -16px;
    display: grid;
    text-align: center;
    row-gap: 5px;
    column-gap: 5px;
    font-size: 16px;
}

#controlsRotate {
    grid-row: 1;
    grid-column: 2;
}

#controlsMoveLeft {
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    margin-bottom: 2px;
    margin-right: 3px;
}

#controlsKeyImg {
    grid-row: 2;
    grid-column: 2;
}

#controlsMoveRight {
    grid-row: 2;
    grid-column: 3;
    align-self: end;
    margin-bottom: 2px;
    margin-left: 3px;
}

#controlsFastDrop {
    margin-top: 3px;
    grid-row: 3;
    grid-column: 2;
}

/*------- START SCREEN: RULES TEXT -------*/

#newTwistText {
    margin-left: 135px;
    margin-right: 52px;
    margin-top: -16px;
}

.break {
    display: block;
    margin-bottom: 8px;
}

/*------- START SCREEN: START BUTTON -------*/

#startButton {
    border-top: 3px inset rgba(255,255,255,.5);
    border-left: 3px inset rgba(255,255,255,.5);
	border-right: 3px inset rgba(0,0,0,.5);
    border-bottom: 3px inset rgba(0,0,0,.5);
	cursor: pointer;
	width: 110px;
    padding: 0;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: hsl(145, 68%, 37%);

    &:focus,
	&:hover {
		background: hsl(145, 91%, 42%);
	}
}

#startButtonText {
    font-size: 20px;
}

#startButtonTextShortcut {
    font-size: 14px;
}

/* -------------------------------- GAMEBOX --------------------------------*/

#gamebox {
    position: relative;
    background-color: black;
    border: 3px solid #C0C0C0;
    margin-top: 5vh;
    height: 600px;
    width: 300px;
    min-width: 300px;
}

/*------- GAMEBOX: MESSAGE BOX -------*/

#gameMessageBox {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 8;
    border: 3px solid #C0C0C0;
    border-radius: 5px;
    left: 57px;
    top: 200px;
    height: 60px;
    width: 180px;
    justify-content: center;
    align-items: center;
}

#gameMessage {
    font-family: "Aldrich", sans-serif;
    color: #C0C0C0;
    font-size: 25px;
    margin-bottom: -5px;
}

/* ------------------------------ STATUS BOARD ------------------------------*/

#board {
    border: 3px solid #C0C0C0;
    border-radius: 5px;
    margin-top: 10vh;
    height: 340px;
    width: 250px;
    min-width: 250px;
    font-family: "Aldrich", sans-serif;
    color: #C0C0C0;
    display: flex;
    flex-direction: column;
}

/*--------- STATUS BOARD: NEXT TETROMINO ---------*/

#nextTetrominoWrapper {
    margin-top: 25px;
    height: 60px;
    display: flex;
    justify-content: center;
}

.nextTetromino {
    opacity: 0;
    position: absolute;
}

#test1 {
    opacity: 1;
}

/*---------- STATUS BOARD: TIME & SCORE ----------*/

#boardInfoWrapper {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 25px;
    font-size: 25px;
}

#boardInfoLeftColumn {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#boardInfoRightColumn {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.boardValue {
    width: 81px;
}

/*-------------- STATUS BOARD: LIVES --------------*/

#livesWrapper {
    align-self: center;
    margin-top: 15px;
    display: flex;
    column-gap: 10px;
    width: 143px;
}

.heartWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heartStopper {
    position: absolute;
    font-size: 22px;
    color: #cecece;
    z-index: 9;
}

.heart {
    transform-origin: center;
}

@keyframes refillHeartAnimation {
    50% {transform: scale(1.2);}
}

.refillHeart {
    animation: refillHeartAnimation 0.6s;
}

@keyframes heartBlinkLastSecsAnimation {
    0% {}
    20% {opacity: 0;}
    40% {opacity: 1;}
}

.heartBlinkLastSecs {
    animation: heartBlinkLastSecsAnimation 1s;
    animation-iteration-count: 3;
}

@keyframes removeHeartAnimation {
    0% {}
    20% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

.removedHeart {
    animation: removeHeartAnimation 0.5s forwards;
}

/*------- STATUS BOARD: PAUSE/RESTART BUTTONS -------*/

#boardButtonsWrapper {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    margin-top: 25px;
}

#boardButtonsWrapper button {
    border-top: 3px inset rgba(255,255,255,.5);
    border-left: 3px inset rgba(255,255,255,.5);
	border-right: 3px inset rgba(0,0,0,.5);
    border-bottom: 3px inset rgba(0,0,0,.5);
	cursor: pointer;
	width: 92px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.pauseButtonRed {
    background: hsl(177, 60%, 38%);

    &:focus,
	&:hover {
		background: hsl(177, 83%, 43%);
	}
}

.pauseButtonGreen {
    background: hsl(145, 68%, 37%);

    &:focus,
	&:hover {
		background: hsl(145, 91%, 42%);
	}
}

#restartButton {
    background: hsl(359, 70%, 38%);

    &:focus,
	&:hover {
		background: hsl(359, 93%, 43%);
	}
}

.buttonTextWrapper {
    padding: 4px;
    padding-top: 5px;
    font-family: "Aldrich", sans-serif;
	color: white;
}

.buttonText {
    font-size: 15px;
}

.buttonTextShortcut {
    font-size: 10px;
}