body {
    background-color: black;
}

.tetromino {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 150px;
    line-height: 0;
}

.emptyTile {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}

.tile {
    margin: 0;
    padding: 0;
}

#gamebox {
    position: relative;
    background-color: black;
    border: 3px solid #C0C0C0;
    margin-left: 20vw;
    margin-top: 5vh;
    height: 600px;
    width: 300px;
}