body {
    background-color: black;
}

.tetromino {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 150px;
    line-height: 0;
}

.emptyTile {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}

.tile {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    column-gap: 5vw;
}

#gamebox {
    position: relative;
    background-color: black;
    border: 3px solid #C0C0C0;
    margin-top: 5vh;
    height: 600px;
    width: 300px;
    min-width: 300px;
}

#gameMessageBox {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 10;
    border: 3px solid #C0C0C0;
    border-radius: 10px;
    left: 57px;
    top: 200px;
    height: 60px;
    width: 180px;
    justify-content: center;
    align-items: center;
}

#gameMessage {
    font-family: "Aldrich", sans-serif;
    color: #C0C0C0;
    font-size: 25px;
    margin-bottom: -5px;
}

#board {
    border: 3px solid #C0C0C0;
    border-radius: 10px;
    margin-top: 10vh;
    height: 210px;
    width: 250px;
    min-width: 250px;
}

#boardInfoWrapper {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 30px;
    font-family: "Aldrich", sans-serif;
    color: #C0C0C0;
    font-size: 25px;
}

#boardInfoLeftColumn {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#boardInfoRightColumn {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#livesWrapper {
    height: 20px;
    margin-top: -1px;
}

#boardButtonsWrapper {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    margin-top: 20px;
}

#boardButtonsWrapper button {
    border-top: 3px inset rgba(255,255,255,.5);
    border-left: 3px inset rgba(255,255,255,.5);
	border-right: 3px inset rgba(0,0,0,.5);
    border-bottom: 3px inset rgba(0,0,0,.5);
	cursor: pointer;
	width: 92px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.pauseButtonRed {
    background: hsl(177, 60%, 38%);

    &:focus,
	&:hover {
		background: hsl(177, 83%, 43%);
	}
}

.pauseButtonGreen {
    background: #1fa054;
    background: hsl(145, 68%, 37%);

    &:focus,
	&:hover {
		background: hsl(145, 91%, 42%);
	}
}

#restartButton {
    background: hsl(359, 70%, 38%);

    &:focus,
	&:hover {
		background: hsl(359, 93%, 43%);
	}
}

.buttonTextWrapper {
    padding: 4px;
    padding-top: 5px;
    font-family: "Aldrich", sans-serif;
	color: white;
}

.buttonText {
    font-size: 15px;
}

.buttonTextShortcut {
    font-size: 10px;
}